<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.helloandroid.yieron.yieron">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".YieronApplication"
        android:allowBackup="true"
        android:icon="@mipmap/android2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".ui.activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.NaviDrawerActivity"
            android:label="@string/title_activity_navi_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ui.activity.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloandroid.yieron.yieron.ui.activity.ItemListActivity" />
        </activity>
        <activity
            android:name=".ui.activity.FullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".ui.activity.ViewModelActivity" />
        <activity
            android:name=".ui.activity.BottomNavActivity"
            android:label="@string/title_activity_bottom" />
        <activity
            android:name=".ui.activity.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.LableImageActivity" />
        <activity android:name=".ui.activity.DrawActivity" />
        <activity android:name=".ui.activity.FallingBallActivity" />
        <activity android:name=".ui.activity.MyCanvasActivity" />
        <activity android:name=".ui.activity.MyNameActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MyPasswordViewActivity" />
    </application>

</manifest>